html, body {
    height: 100%;
}
.container-fluid {
    background-color: silver;
    height: 100%;

}
#giphyWordDisplay {
text-align: left;
height: 100px;
}
#outputContainer {
    height: auto;
    
}
#giphyWord {
    background-color: white;
}
#userInputBox {
background-color: silver;
border:  2px solid gray;
float: right;
padding: 5px;
height: 100px;
}
.userInputButton {
    clear: both;
    overflow: auto;
    background-color: gray;
    border: 2px solid cyan;
    color: white;
}
.footer {
    float: bottom;
    position: absolute;
    bottom: 0;
}

